<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="home blog wp-custom-logo hfeed">

    <div id="page" class="site">
      {%- include header.html -%}
      <div class="container">
        <main id="primary" class="site-main py-4">
          {{ content }}
        </main>
      </div>
    </div>
    </main>

    <!--{%- include footer.html -%}-->

  </body>

  <script
			  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
			  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
			  crossorigin="anonymous"></script>

</html>
